body
{
    background: rgb(110, 110, 110);
}

.container
{
    /* display: inline-flex; */
}

.container .row
{
    text-align: center;
    width: 100%;
    height: 30px;

}

.container .row .gridsquare
{
    border: 1px solid black;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.permaHover
{
    background-color: black;
}