body
{
    background: rgb(110, 110, 110);
}

.container
{
    /* display: inline-flex; */
}

.container .row
{
    text-align: center;
    width: 100%;
    height: 30px;

}

.container .row .gridsquare
{
    /* border: 1px solid black; */
    display: inline-block;
    width: 30px;
    height: 30px;
    background: white;
}

.permaHover
{
    background-color: black;
}

.buttonContainer{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}

button
{
    
    background: white;
    padding: 15px;
    font-size: 16px;
    margin: 5px;
    
}

.active{

    border-color: lawngreen;
}