body
{
    background: rgb(110, 110, 110);
}

.container
{
    
}

.container .row
{
    text-align: center;
    width: 100%;

}

.container .row .gridsquare
{
    border: 1px solid black;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.permaHover
{
    background-color: black;
}